@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url('../imagens/fundo-madeira.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 310px;
    background-image: url('../imagens/frame-iphone.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#rede-social {
    height: 600px;
    width: 80px;
    margin-top: 55px;
    margin-right: 15px;
    position: relative;
    float: right;
}

.btn {
    margin: 0px 25px 30px 0px;
    display: block;
    width: 65px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px #0000004d;
}

.btn:hover {
    transform: translate(-3px, -3px);
    transition: 0.3s;
}

.frame {
    left: 22px;
    top: 79px;
    position: relative;
    width: 268px;
    height: 472px;
}